<%= form_tag("/search", method: "get" , class: "search") do %>
  <div class="col-sm-11">
  	<%= text_field_tag(:q, params[:q], :placeholder => 'Find your favorite show here...', class: "form-control input-lg") %>
  </div>
  <div class="col-sm-1">
  	<%= submit_tag("Search", class: "btn btn-success btn-lg") %>
  </div>
<%end%>


<% if search%>

	<div class="page-header text-muted">
		Search results for "<%=params[:q]%>"
	</div>

	<% search.each do |result| %>
				<div class="media">
				<%= link_to series_path(result.id),{ :class=>"pull-left" } do %>
					<%= image_tag("#{tmdb_base_url}w300#{result.poster_path}", :class => "media-object") if result.poster_path %>
		    <% end %>
		    <div class="media-body">
		        <h4 class="media-heading"><%=result.name%> <small><i>On air since <%=result.first_air_date %> </i></small></h4>
		        <p>Average user rating <%=result.vote_average%></p>
		        <% if current_user.present? %>
		          <% if current_user.has_favored? result.id %>
		            <p><%= link_to "Remove from favorites", series_unfavorite_path(result.id) %></p>
		          <% else %>
		            <p><%= link_to "Add to favorite", series_favorite_path(result.id) %></p>
		          <% end %>
		        <% end %>
		    </div>
		</div>
	<%end%>
<%end%>

