%h1 Users page!


%p This is #{user.name}'s page.

%p #{user.name} has #{user.favorites.count} favorites!

- user.favorites.each do |favorite|
	%p
		= link_to "Show: #{favorite.show.name}", series_path(favorite.show_id)
