<div class="row">
<ol class="breadcrumb">
  <li><%= link_to "Home",  root_url  %></li>
  <li><%= link_to series.name, series_path(params[:series_id])  %></li>
  <li class="active">Episode <%=params[:season] %>x<%="%.2i" %episode["episode_number"] %></li>
</ol>
</div>

<div class="row">

<div class="col-md-12 pull-left">
	<div class="row">
		<div class="col-md-6">
			<%=if episode['still_path'].present?
				image_tag("#{tmdb_base_url}w300#{episode['still_path']}", class: "thumbnail")
			else
				image_tag("http://placehold.it/300x170&text=No+image+for+this+episode", class: "thumbnail")
			end%>
		</div>
		<div class="col-md-6">
			<h2><%=episode['name']%></h2>
			<p>This episode aired on <%= if episode['air_date'] != nil then episode['air_date'].to_date.strftime("%B %d, %Y") else "unknown date" end %></p>
			<hr>
			<div class="episode-rating"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></div>
		</div>
	</div>
	<p><%=episode['overview']%></p>
	<%= render "shared/comments", comments: comments, create_url: series_episode_comment_path %>
</div>
</div>

</div>
