<div class="row">
<ol class="breadcrumb">
  <li><%= link_to "Home",  root_url  %></li>
  <li><%= link_to series.name, series_path(params[:series_id])  %></li>
  <li class="active">Episode <%=params[:season] %>x<%="%.2i" %episode["episode_number"] %></li>
</ol>
</div>

<div class="row">

<div class="col-md-12 pull-left">
	<div class="row">
		<div class="col-md-6">
			<%=if episode['still_path'].present?
				image_tag("#{tmdb_base_url}w300#{episode['still_path']}", class: "thumbnail")
			else
				image_tag("http://placehold.it/300x170&text=No+image+for+this+episode", class: "thumbnail")
			end%>
		</div>
		<div class="col-md-6">
			<h2><%=episode['name']%></h2>
			<p>This episode aired on <%= if episode['air_date'] != nil then episode['air_date'].to_date.strftime("%B %d, %Y") else "unknown date" end %></p>
			<hr>
			<div class="rating" id="rating" data-score="<%=ratings%>">
      </div>
		</div>
	</div>
	<p><%=episode['overview']%></p>
  <%unless current_user.nil?%>
    <%=link_to series_episode_calendar_path params[:series_id], params[:season], params[:episode] do%>
      <span class="glyphicon glyphicon-plus"></span> Add episode to calendar
    <%end%>
  <%end%>
	<%= render "shared/comments", comments: comments, create_url: series_episode_comment_path %>
</div>
</div>

<%= javascript_include_tag "jquery.raty.min" %>
<script>
  $('#rating').raty({
    path: '/assets',
    score: function() {
      return $(this).attr('data-score');
    },
    halfShow : false,
    width: false,
    <% if current_user.nil?%>
    readOnly: true,
    <% end %>
    click: function(score, evt) {
      console.log("SCORE "+score);
      $.ajax({
        url: "<%=series_episode_rating_path(series.id, params[:season], params[:episode])%>",
        type: 'POST',
        data: {"score": score},
        success:    function(response, status) {
          console.log(status);
        }
      });}
  });
</script>
