<h3>Most popular shows</h3>
<% @popular.first(10).each do |series| %>
	<% if series %>
			<%= image_tag("#{@configuration.base_url}w154#{series['backdrop_path']}") if series['backdrop_path'] %>

	<% end %>
<% end %>
<hr>
<h3>Top rated shows</h3>
<% @top_rated.first(5).each do |series| %>
	<% if series %>
		<div class="media">
		<%= link_to "Nekaj",{ :class=>"pull-left" } do %>
			<%= image_tag("#{@configuration.base_url}w154#{series['backdrop_path']}", :class => "media-object") if series['backdrop_path'] %>
    <% end %>
    <div class="media-body">
        <h4 class="media-heading"><%=series['name']%> <small><i>On air since <%=series['first_air_date']%> </i></small></h4>
        <p>Average user rating <%=series['vote_average']%></p>
    </div>
</div>
	<% end %>
<% end %>



