
<div class="page-header text-muted">
	Popular shows
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  	<% (0..10).each do |i| %>
    	<li data-target="#carousel-example-generic" data-slide-to="<%=i%>" class="active"></li>
    <% end %>
  </ol>

  <div class="carousel-inner">
   <% popular.first(10).each do |series| %>
  	<% if series %>
    <div class="item <%=series==popular.first ? "active" : "" %>">
			<%= image_tag("#{tmdb_base_url}w1000#{series['backdrop_path']}") if series['backdrop_path'] %>
      <div class="carousel-caption">
        <h3><%= link_to series['name'], series_path(series['id']) %></h3>
        <p>Average user rating: <%=series['vote_average']%></p>
	      </div>
	    </div>
		<% end %>
	<% end %>
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


<div class="page-header text-muted">
	Top rated shows
</div>

<% top_rated.first(5).each do |series| %>
	<% if series %>
		<div class="media">
		<%= link_to series_path(series['id']),{ :class=>"pull-left" } do %>
			<%= image_tag("#{tmdb_base_url}w300#{series['backdrop_path']}", :class => "media-object") if series['backdrop_path'] %>
    <% end %>
    <div class="media-body">
        <h4 class="media-heading"><%=series['name']%> <small><i>On air since <%=series['first_air_date']%> </i></small></h4>
        <p>Average user rating <%=series['vote_average']%></p>
        <% if current_user.present? %>
          <% if current_user.has_favored? series['id'] %>
            <p><%= link_to "Remove from favorites", series_unfavorite_path(series['id']) %></p>
          <% else %>
            <p><%= link_to "Add to favorite", series_favorite_path(series['id']) %></p>
          <% end %>
        <% end %>
    </div>
</div>
	<% end %>
<% end %>



