<div class="row">
<ol class="breadcrumb">
  <li><%= link_to "Home",  root_url  %></li>
  <li class="active"><%= series.name %></li>
</ol>
</div>


<div class="media flex">
	<%=link_to series_path(series.id),{ :class=>"pull-left" } do%>
		<%= image_tag("#{tmdb_base_url}w300#{series.poster_path}", :class => "media-object") if series.poster_path %>
  <% end %>
  <div class="media-body middle">
      <h2 class="media-heading"><%=series.name %></h2>
      <div class="rating"><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star-empty"></i></div>
      <hr>
      <p><%=series.overview %></p>
  </div>
</div>


<div class="favorite">
<% if current_user.present? %>
  <% if current_user.has_favored? series.id %>
    <p><%= link_to "Remove from Favorites", series_unfavorite_path(series.id), { :class=>"btn btn-primary btn-lg" } %></p>
  <% else %>
    <p><%= link_to "Add to Favorites", series_favorite_path(series.id), { :class=>"btn btn-primary btn-lg" }  %></p>
  <% end %>
<% else %>
	<p><%= link_to "Sign in to add Favorites", "/auth/google_oauth2", { :class=>"btn btn-primary btn-lg" }  %></p>
<%end %>
</div>

<div class="row">
<div class="col-md-6">
<% seasons.each do |season| %>
	<h3>Season <%=season['season_number']%> <small>on air <%=time_ago_in_words(season['air_date'])%></small></h3>
	<p>
	<ul>
		<%season['episodes'].each do |episode| %>
			<li>
        <%= link_to series_episode_path(series.id, season['season_number'], episode['episode_number']) do %>
          <small><%="#{season['season_number']}x"%><%="%.2i" %episode['episode_number'].to_i%></small> - <%=episode['name']%></li>
      <% end %>
    <% end %>
	</ul>
	</p>
<% end %>
</div>

<div class="col-md-6">

  <h3> Comments: </h3>
  <% comments.each do |comment| %>
  <div class="media">
    <a class="pull-left">
      <%= image_tag(comment.user.image_url, class: "img-circle")%>
    </a>
    <div class="media-body">
      <div class="well well-sm col-md-12">
      <div class="media-heading ">
        <strong><%= comment.user.name %></strong>
        <small class="pull-right"><i>posted <%= time_ago_in_words comment.created_at %> ago<i></small>
      </div>
      <%= simple_format(comment.message) %>
      </div>
    </div>
  </div>
  <% end %>

  <% if current_user%>
    <%= form_for(Comment.new, url: series_create_comment_path(series.id) ) do |f|%>

      <div class="form-group">
        <h3>Add a comment</h3>
      </div>
      <div class="form-group">
        <%= f.text_area :message, class: "form-control" %>
      </div>
      <div class="form-group">
      <%= f.submit class: "btn btn-danger pull-right" %>
      </div>
    <% end %>
  <%end%>
</div>
</div>
