<div class="row">
<ol class="breadcrumb">
  <li><%= link_to "Home",  root_url  %></li>
  <li class="active"><%= series.name %></li>
</ol>
</div>


<div class="media flex">
	<%=link_to series_path(series.id),{ :class=>"pull-left" } do%>
		<%= image_tag("#{tmdb_base_url}w300#{series.poster_path}", :class => "media-object") if series.poster_path %>
  <% end %>
  <div class="media-body middle">
      <h2 class="media-heading"><%=series.name %></h2>
      <div class="rating" id="rating" data-score="<%=ratings%>">
      </div>

      <hr>
      <p><%=series.overview %></p>
  </div>
</div>


<div class="pull-right">
<% if current_user.present? %>
  <% if current_user.has_favored? series.id %>
    <p><%= link_to "Remove from Favorites", series_unfavorite_path(series.id), { :class=>"btn btn-primary btn-lg" } %></p>
  <% else %>
    <p><%= link_to "Add to Favorites", series_favorite_path(series.id), { :class=>"btn btn-primary btn-lg" }  %></p>
  <% end %>
<% else %>
	<p><%= link_to "Sign in to add Favorites", "/auth/google_oauth2", { :class=>"btn btn-primary btn-lg" }  %></p>
<%end %>
</div>

<div class="row">
<div class="col-md-6">
<% seasons.each do |season| %>
	<h3>Season <%=season['season_number']%> <small>on air <%=time_ago_in_words(season['air_date']) rescue "unknown time"%></small></h3>
  <%unless current_user.nil?%>
    <%=link_to series_season_calendar_path series.id, season["season_number"] do%>
      <span class="glyphicon glyphicon-plus"></span> Add season to calendar
    <%end%>
  <%end%>
  <p>
  <% if season['episodes'].present? %>
  	<ul>
  		<%season['episodes'].each do |episode| %>
    		<li>
          <% if episode['episode_number'].present? %>
            <%= link_to series_episode_path(series.id, season['season_number'], episode['episode_number']) do %>
              <small><%="#{season['season_number']}x"%><%="%.2i" %episode['episode_number'].to_i%></small> - <%=episode['name']%>
            <% end %>
          <% else %>
            <small>(Season <%="#{season['season_number']}"%> intro episode) </small> - <%=episode['name']%>
          <% end %>
        </li>
      <% end %>
  	</ul>
  <% else %>
    <ul><li>No episodes.</li></ul>

  <% end %>
	</p>
<% end %>
</div>

<div class="col-md-6">
  <%= render "shared/comments", comments: comments, create_url: series_create_comment_path(series.id) %>
</div>
</div>

<%= javascript_include_tag "jquery.raty.min" %>
<script>
  $('#rating').raty({
    path: '/assets',
    score: function() {
      return $(this).attr('data-score');
    },
    halfShow : false,
    width: false,
    <% if current_user.nil?%>
    readOnly: true,
    <% end %>
    click: function(score, evt) {
      console.log("SCORE "+score);
      $.ajax({
        url: "<%=series_update_rating_path(series.id)%>",
        type: 'POST',
        data: {"score": score},
        success:    function(response, status) {
          console.log(status);
        }
      });}
  });
</script>
