<!DOCTYPE html>
<html>
<head>
  <title>Seasonhunter</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
    <div class="box">
        <div class="row">

            <!-- sidebar -->
            <div class="column col-sm-3" id="sidebar">
                <%= link_to "Seasonhunter", root_path, class: "logo" %>
                <ul class="nav">
                    <li>
                      <%= link_to "Home", root_path %>
                      <%= link_to "Users", users_path %>
                    </li>
                    <% if current_user %>
                      <li>
                        <%= link_to "Profile", user_path(current_user) %>
                      </li>
                      <li>
                        <%= link_to "Sign Out, #{current_user.name}", signout_path %>
                      </li>
                    <% else %>
                      <li>
                      <%= link_to "Sign in", "/auth/google_oauth2" %>
                      </li>
                    <% end %>
                </ul>
                <ul class="nav hidden-xs" id="sidebar-footer">
                    <li>Made with <i class="glyphicon glyphicon-heart-empty"></i> and Ruby on Rails
                    </li>
                </ul>
            </div>
            <!-- /sidebar -->

            <!-- main -->
            <div class="column col-sm-9" id="main">
                <div class="padding">
                    <div class="full col-sm-9">
                        <%= yield %>
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->

        </div>
    </div>
</div>
</body>
</html>
